/* Configuración General */
:root {
    --primary-color: #25343F;
    --dark-color: #BFC9D1;
}


/* Sección Nuevos Productos */
#nuevos {
    background: #fff;
}

#nuevos h2 {
    color: var(--dark-color);
}

#nuevos .carousel-item img {
    max-height: 350px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

#nuevos .carousel-item img:hover {
    transform: scale(1.05);
}

#nuevos .carousel-control-prev-icon,
#nuevos .carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 15px;
}

/* Separador de Títulos */
.divider {
    height: 4px;
    width: 60px;
    margin-top: 10px;
    border-radius: 2px;
}


.footer a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.footer h5 {
    margin-bottom: 1rem;
}

.footer .list-unstyled li {
    margin-bottom: 0.5rem;
}